@import url(/style/main.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#spes {
  background: #f6f6f6;
}

#spes {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.login-container {
  background-color: #fff;
  padding: 20px 20px;
  height: 478px;
  width: 450px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgs {
  width: 500px;
  height: 480px;
  border-radius: 0px 20px 20px 0px;
}

h2 {
  text-align: center;
  font-family: cursive;
  margin-top: 60px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  margin-top: 7px;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
}

#loginForm {
  padding: 20px;
}

#button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#button:hover {
  background-color: #218838;
}

.success {
  color: #5bc0de;
  font-size: 17px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#salom {
  display: flex;
  align-items: center;
}

.juma {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.hero {
  gap: 7px;
  display: flex;
  align-items: center;
}

.Default {
  outline: none;
  background: #ffffff;
}

.submi-b {
  height: 0px;
  width: 0px;
  background: #fff;
}

.input-item {
  width: 350px;
  height: 45px;
  padding: 0px 10px;
  display: flex;
  background: #F7F7F7;
  align-items: center;
  border-radius: 5px;
}

#inputs {
  width: 350px;
  height: 40px;
  background: #F7F7F7;
  border: solid #F7F7F7;
}

.pass {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.small {
  gap: 10px;
  display: flex;
  align-items: center;
}

.dirf {
  height: 33px;
  width: 2px;
  background: #a7a7a7;
}

.login-pages {
  gap: 35px;
  display: flex;
  align-items: center;
}

nav {
  gap: 5rem;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.fff {
  gap: 60px;
  display: flex;
  align-items: center;
}

.profil {
  gap: 18px;
  display: flex;
  align-items: center;
}

.my-profil {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bno {
  text-decoration: none;
}

.spam {
  color: #FFF;
  height: 18px;
  width: 18px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #7FAD39;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  margin-top: -32px;
  margin-left: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.kich {
  width: 100px;
  height: 2px;
  background: #CECECE;
}/*# sourceMappingURL=style.css.map */